{% extends 'base.html' %}


{% block title %}About AK Blendzz{% endblock title %}

{% block content %}
    <div class="container-about">
        <div class="left-side-about">
            <div class="overlay-text">
                <h1>About AK Blendzz</h1>
                    <p>
                        Welcome to AK Blendzz — 
                        where precision meets passion.
                        Founded by Akshat Kotian, AK Blendzz
                        is a modern, home-based barbershop
                        dedicated to delivering high-quality 
                        cuts, clean fades, and a personalised 
                        grooming experience. With a growing client
                        base and a focus on convenience, AK Blendzz 
                        blends traditional skills with a fresh, reliable 
                        approach to bookings and customer care. 
                        Whether it’s your first visit or your fiftieth, 
                        you can count on professional service and 
                        sharp results every time.
                    </p>
            </div>
        </div>
        <div class="right-side-about"></div>
    </div>


{% endblock content %}


